* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.hero-section {
  color: white;
  width: 100%;
  height: 100vh;
  background: url(./images/hero-banner.webp) no-repeat center;
  background-size: cover;

}


.hero-section a {
  color: white !important;
}



.main_heading {
  font-size: 4.3rem !important;
  line-height: .95;
}

.tags {
  border-bottom: 1px solid rgba(255, 255, 255, 0.404);
}

.tags span {
  width: 130px;
  height: 20px;
}

small {
  font-size: 10px !important;
}

.tags span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



@media screen and (min-width : 992px) {
  .collapse {
    position: absolute;
    right: 0;
  }


}

@media screen and (max-width : 992px) {
  .startBtn {
    position: absolute;
    right: 70px;
    top: 8px;

  }

  .main_heading {
    font-size: 3.5rem !important;
  }
}

@media screen and (max-width : 767px) {
  .startBtn {
    font-size: .9rem !important;
  }

  .main_heading {
    font-size: 3rem !important;
  }
}

@media screen and (max-width : 675px) {
  .main_heading {
    font-size: 2.5rem !important;
  }

  .hero-bottom {
    padding: 0 !important;
    font-size: 2.2vw !important;
  }
}