* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.hero-section {
  color: white;
  width: 100%;
  height: 100vh;
  background: url(./images/hero-banner.webp) no-repeat center;
  background-size: cover;

}


.hero-section a {
  color: white !important;
}



.main_heading {
  font-size: 3.8rem !important;
  font-weight: 400 !important;
  line-height: .95;
}

.tags {
  border-bottom: 1px solid rgba(255, 255, 255, 0.404);
}

.tags span {
  width: 130px;
  height: 20px;
}

small {
  font-size: 10px !important;
}

.tags span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ career subject section +++++++++++++++++++++++++++++++ */
.career_top{
  height: 100vh;
}

.subject_headings{
  font-size: 2.3rem;
}
.team_btn{
  font-size: .9rem !important;
}
.details{

  font-size: .78rem;
}
.career_bottom{
  background-color: #E6E8FF
  
}
.career_bottom span{
  text-align: start !important;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++ testimonial section ++++++++++++++++++++++++++++++++++++++++ */
.shade{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.555);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials_section video{
  width: 100% !important;
  height: auto !important;
}

.play_btn{
  padding: 2rem 2.3rem;
  border-radius: 50%;
  transition: all .3s;
}
.play_btn:hover{
  background-color: #3F42D8;
}
.play_btn i{
  font-size: .4rem;
}
.shade h6{
  font-size: .7rem !important;
}
.testimonials_section h2{
  font-size: 2.4rem;
}




/* +++++++++++++++++++++++++++++++++++++++++++++ media queries +++++++++++++++++++++++++++++++++++++++++++++++++ */
@media screen and (min-width : 992px) {
  .collapse {
    position: absolute;
    right: 0;
  }


}

@media screen and (max-width : 992px) {
  .startBtn {
    position: absolute;
    right: 70px;
    top: 8px;

  }

  .main_heading {
    font-size: 3.5rem !important;
  }

     .subject_headings {
       font-size: 2.15rem;
     }
}

@media screen and (max-width : 767px) {
  .startBtn {
    font-size: .9rem !important;
  }

  .main_heading {
    font-size: 3rem !important;
  }
     .testimonials_section h2{
      font-size: 2rem !important;
     }
}

@media screen and (max-width : 675px) {
  .main_heading {
    font-size: 2.5rem !important;
  }

  .hero-bottom {
    padding: 0 !important;
    font-size: 2.2vw !important;
  }

  /* career subject */
  .subject_headings {
    font-size: 1.4rem;
  }
}